button.cell + button.cell {
  margin: 0;
}

.board {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  width: 300px;
  height: 300px;
}

.cell {
  border: 1px solid red;
  width: 100px;
  height: 100px;
  font-size: 80px;
}

#message-box {
  width: 200px;
  border: 1px solid black;
  width: 258px;
  height: 200px;
  padding: 20px;
  overflow-y: scroll;
}
